/* style user input field */
.bubble.reply-freeform {
	margin: 8px 0 !important;
}
.bubble, .bubble-typing {
	background: rgba(200, 16, 46, 1) !important;
	color:rgb(250 250 250 / 95%) !important;
	border-radius: 15px !important;
	margin: 0 0 6px 0 !important;
}
.bubble.reply:not(.bubble-picked) .bubble-content .bubble-button:hover, .bubble.reply .bubble-content .bubble-button.bubble-pick{
	background:rgb(255 255 255) !important;
}
.bubble.reply .bubble-content .bubble-button{
	color:black !important;
	background: rgb(44 44 44 / 10%);
}
.bubble.reply{
	background: transparent !important;
}
.bubble-button{
	border-radius: 15px !important;
}
.bubble-wrap{
	padding-right: 10px;
	right: 0;
}
.input-wrap {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
	background: linear-gradient(rgb(245 245 245 / 0%), 30%, rgba(220 221 224 ));
}
.speech-button {
    width: 26px;
    height: 35px;
    cursor: pointer;
    border-radius: 50% !important;
    flex-shrink: 0;
	padding: 8px 12px;
	margin-bottom: 0px !important;
    margin-left: 5px !important;
}
#chat > div.input-wrap > div.speech-switch > textarea{
	resize:none;
	border-radius: 50px;
    height: 31px;
    line-height: 31px;
    padding-left: 51px;
}
.speech-switch{
	width: 100%;
	position: relative;
	display: flex;
    align-items: center;
}
.loading{
	position: absolute;
	width: 100%;
	text-align: center;
	padding: 22px 0 !important;
	border-radius: 15px;
}
::-webkit-scrollbar {
	display: none;
}
iframe{
    margin: -8px -16px;
    overflow: hidden;
    display: block;
    border-radius: 15px 15px 15px 15px;
	border: 0;
}
img{
	border-radius: 15px 15px 15px 15px !important;
}
.o_event_container{
    margin: 0 6px -8px;
    overflow: hidden;
    border-radius: 15px 15px 15px 15px;
    border: 0;
    display: inline-block;
    width: 260px;
}
.o_card__footer p.other_data--place {
    font-weight: bold;
    margin-bottom: 3px;
    height: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.o_card__footer p.other_data {
    color: #8492a5;
    font-size: 12px;
    line-height: 1.33;
	margin-block-start: 0em;
    margin-block-end: 0px;
}
.o_card__footer p.main {
    font-size: 14px;
    display: block;
    height: 72px;
    overflow: hidden;
    line-height: 24px;
    margin-block-start: 0;
}
.o_card__footer {
    padding: 10px 16px 10px 16px;
    color: #050607;
    /* border: solid 1px #c8cfd6; */
    border-top: 1px solid transparent;
    border-radius: 0 0 3px 3px;
	background: white;
    white-space: normal;
}
.o_card__footer p.main a, .o_card__footer p.main a:hover {
    color: #050607 !important;
    text-decoration: none;
}
.o_card__head__image{
    height: 120px;
    object-fit: cover;
    object-position: center;
}
.calender{
	border-width: 0;
    overflow: hidden;
    height: 420px;
}
div.bubble.calender.say > span {
    position: relative;
    top: -35px;
    left: -10px;
}
.event{
	white-space: nowrap;
	overflow-x: scroll;
	background: transparent !important;
	max-width: none;
	padding-left: 0px;
    width:100% !important;
}
.language-button{
    position: absolute;
    width: 24px;
    height: 23px;
    margin-bottom: 0px !important;
    margin-left: 7px !important;
    padding: 8px !important;
    border-radius: 50% !important;
    text-align: center;
    background: transparent !important;
}
.language-button:hover {
    background-color: rgb(220, 220, 220) !important;
}
.language-selector {
    font-size: 1rem;
    margin: 10px 0;
    z-index: 999;
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background: #0000008a;
    margin-top: 0;
    align-items: center;
    justify-content: center;
}

.language-selector label {
    margin-right: 10px;
}

.language-selector select {
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.language-background{
    width: 100%;
    height: 100%;
    position: absolute;
}

